<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    {% load static tailwind_tags %} {% tailwind_css %}
    <div class="bg-lime-50 h-screen items-center justify-center">
        <h2>Login</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %} No account yet?<a href="{% url 'todolist:register' %} ">Create Account</a>
    </div>
</body>

</html>